body{
 color: #ffffff;
 font-family: "Lucida Console", "Courier New", monospace;
 background-color: #24002c;
 background-image: linear-gradient(#24002c, #500031);
}

/* Add a black background color to the top navigation */
.top_bar {
  /*osition: absolute;*/
  margin-left: 0px;
  margin-top: 0px;
  top:0px;
  left:0px;
  background-color: #24002c;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.top_bar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top_bar img{
 position: left;
 margin-right: 0px;
}

/* Change the color of links on hover */
.top_bar a:hover {
  background-color: #ddd;
  color: black;
}

